.side
{
    backface-visibility: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 360px;
    height: 100px;
    padding: 100px 20px;
    border-radius: 10px;
    
    background-color: white;
    font-size: 40px;
    text-align: center;
    
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}