.card
{
    width: 400px;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.card:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}