.card
{
    position: relative;
    
    transition: 0.6s;
    transform-style: preserve-3d;
    
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    
    border-radius: 10px;
    cursor: pointer;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
